<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Root menu for your module -->
    <menuitem id="menu_home_tools_root" name="Home Tools Shop" sequence="10"/>

    <!-- Sales menu -->
    <menuitem id="menu_sale"
              name="Sales"
              parent="menu_home_tools_root"
              action="action_shop_sale"
              sequence="1"/>

    <!-- Customer Management Root Menu -->
    <menuitem id="menu_product_customer_root"
              name="Customer Management"
              parent="menu_home_tools_root"
              sequence="2"/>

    <!-- Customer List Menu -->
    <menuitem id="menu_customer_list"
              name="Customers"
              parent="menu_product_customer_root"
              action="action_product_customer"
              sequence="1"/>

    <menuitem id="menu_product_item_root" name="Products"/>
<menuitem id="menu_product_item" name="Product Items" parent="menu_product_item_root" action="action_product_item"/>




</odoo>
